{% extends './modules/common/templates/main2.html' %}
{% block style %}
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/base.js"></script>
{% endblock %}


{% block header %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>支付宝即时到账交易接口</title>
</head>
{% endblock %}

{% block content %}
  <!-- call  --><span>请稍候...</span>
  {{sHtmlText|safe}}

{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}

{% endblock %}

