{% extends './modules/common/templates/main2.html' %}
{% block style %}
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/base.js"></script>
{% endblock %}


{% block header %}
<header class="header">
    <div class="back-btn" onclick="goBack()"></div>
    <div class="title-msg">酒店信息</div>
</header>
{% endblock %}
{% block content %}
<article style="overflow-x: hidden; margin-top: 40px; width: 100%; height: 100%;">
    <div class="leader-menu">
        <ul>
            <li><a class="lm-un-select" href="/account/leader">客户订单</a></li>
            <li><a class="lm-select">酒店信息</a></li>
            <li><a class="lm-un-select" href="/account/leader/user">下单用户</a></li>
        </ul>
    </div>
    <div class="leader-content">
        {% for address in list %}
        <div class="address-row" data-id="{{ address.id }}" style="margin-top: 0;">
            <dl>
                <dt class="ar-line">团号：{{address.teamCode}}
                    <span>{{address.phone}}
                        <a class="arl-pic">
                            <img src="/static/images/right2.png">
                        </a>
                    </span>
                </dt>
                <dd class="ar-line">{{address.address}}</dd>
                <dd><a class="btn-edit" href="/account/addressHotel/{{address.id}}">编辑</a>
                    <a class="btn-delete">删除</a></dd>
            </dl>
        </div>
        {% endfor %}

    </div>
    <a class="btn-new" style="bottom: 58px;" href="/account/leader/addHotel">新增收货地址</a>
</article>
{% endblock %}

{% block footer %}
<div class="placeholder-bottom"></div>
<footer class="footer">
    <p class="b-box" onclick="goHome()"><i class="bx-title bx-title-1"></i><em class="bx-text">商城首页</em></p>
    <p class="b-box" onclick="goShoppingCart()"><i class="bx-title bx-title-2"></i><em class="bx-text">购物车</em></p>
    <p class="b-box" onclick="goLogin()"><i class="bx-title bx-title-3"></i><em class="bx-text">个人中心</em></p>
    <p class="b-box" onclick="goShopList()"><i class="bx-title bx-title-4"></i><em class="bx-text">实体店铺</em></p>
    <p class="b-box" onclick="goService()"><i class="bx-title bx-title-5"></i><em class="bx-text">联系客服</em></p>
</footer>
<div id="go_top" class="go-top" onclick="javascript:scrollTo(0,0);"></div>
{% endblock %}

{% block script %}
<script src="{{ '/static/js/addresshotel.js'|version }}"></script>
<script>
    window.onscroll = function(){
        var scroll = document.documentElement.scrollTop || document.body.scrollTop;
        var go_top = $G('go_top');
        if(scroll > 5){
            go_top.style.display = 'block';
        } else {
            go_top.style.display = 'none';
        }
    };
</script>
{% endblock %}