{% set clazz = "password"; %}
{% set title = "修改密码"; %}
{% extends './modules/common/templates/main.html' %}
{% block style %}
  <link rel="stylesheet" href="{{ '/static/css/profile.css'|version }}" />
{% endblock %}
{% block content %}
  {% if !nested %}
    <header class="bar bar-header">
      {{ macro.back() }}
      <h1>{{ title }}</h1>
    </header>
  {% endif %}
  <section>
    {% if error %}
      <div class="message" ui-mode="error">
        <i class="flag"></i>
        <span>{{ error }}</span>
      </div>
    {% endif %}
    <div class="list compact overlap">
      <label class="item item-input">
        <span class="label">原密码：</span>
        <span class="control">
          <input type="password" name="oldpwd" placeholder="请输入原密码" required />
        </span>
      </label>
      <label class="item item-input">
        <span class="label">新密码：</span>
        <span class="control">
          <input type="password" name="newpwd" placeholder="请输入新密码 (长度至少6位)" required />
        </span>
      </label>
    </div>
    <div class="vspace" ui-mode="50px">
      <div class="hspace">
        <button class="button warning submit">确定</button>
      </div>
    </div>
  </section>
{% endblock %}
{% block script %}
  {% parent %}
  <script src="{{ '/static/js/global2.js'|version }}"></script>
  <script src="{{ '/static/js/settings.js'|version }}"></script>
{% endblock %}