{% extends './modules/common/templates/main2.html' %}
{% block style %}
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/base.js"></script>
{% endblock %}


{% block header %}
<header class="header" style="z-index: 9999;">
    <div class="back-btn" onclick="goBack()"></div>
    <div class="search-box2">
        <input placeholder="请输入关键字" type="text" class="search-input2">
    </div>
    <a class="search-bar2">搜索</a>
</header>
{% endblock %}
{% block content %}
<article style="overflow-x: hidden; margin-top: 42px;">
    <div class="products">
        <div>  <!--http://www.shang5xing.com/app/shang5xing/321afb4f-dc3e-47b4-b366-e82cece9a6c5.mp4-->
            <video id="mainvideo" src="{{video.entity.videoPath}}"
                   width="100%" controls="controls" x-webkit-airplay="true" webkit-playsinline="true" >
                视频无法播放，请升级您的浏览器。
            </video>
        </div>
        <ul>
            {% for product in products.list %}
            <li>
                <div class="li-wrap">
                    <a href="/shopping/details/{{product.id}}">
                        <img src="{{product.img}}">
                    </a>
                    <div class="p-title">
                        <dl>
                            <dt><strong><a>{{product.name}}</a></strong></dt>
                            <dd>人民币：{{product.priceCh}}元</dd>
                            <dd>日<i>&nbsp;</i>元：{{product.price}}円</dd>
                        </dl>
                        <span>已售{{product.buyCount}}件</span>
                    </div>
                </div>
            </li>
            {% endfor %}

        </ul>
    </div>
</article>
{% endblock %}

{% block footer %}
<div class="placeholder-bottom"></div>
<footer class="footer">
    <p class="b-box" onclick="goHome()"><i class="bx-title bx-title-1"></i><em class="bx-text">商城首页</em></p>
    <p class="b-box" onclick="goShoppingCart()"><i class="bx-title bx-title-2"></i><em class="bx-text">购物车</em></p>
    <p class="b-box" onclick="goLogin()"><i class="bx-title bx-title-3"></i><em class="bx-text">个人中心</em></p>
    <p class="b-box" onclick="goShopList()"><i class="bx-title bx-title-4"></i><em class="bx-text">实体店铺</em></p>
    <p class="b-box" onclick="goService()"><i class="bx-title bx-title-5"></i><em class="bx-text">联系客服</em></p>
</footer>
<div id="go_top" class="go-top" onclick="javascript:scrollTo(0,0);"></div>
{% endblock %}

{% block script %}
<script>
    window.onscroll = function(){
        var scroll = document.documentElement.scrollTop || document.body.scrollTop;
        var go_top = $G('go_top');
        if(scroll > 5){
            go_top.style.display = 'block';
        } else {
            go_top.style.display = 'none';
        }
    };
</script>
{% endblock %}